html {
  margin: 0;
  padding: 0;
}
body { 
  margin:0; padding:0; 
}
h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, sans-serif;
  font-weight: 900;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.1em;
  font-weight: 800;
}
h4 {
  font-size: 1em;
  font-weight: 800;
}
#map {
  padding: 0;
  margin: 0;
  width: 100%; 
  height: 100vh;
}
.main-content {
  padding: 3em 0;
}

#name {
  position: absolute;
  bottom: 10%;
  font-size: 1.9em;
  text-align: right;
  width: 100%;
  text-shadow:
       1px 1px 1px rgba(0,0,0,0.1),
     -1px -1px 1px rgba(0,0,0,0.1),  
      1px -1px 1px rgba(0,0,0,0.1),
      -1px 1px 1px rgba(0,0,0,0.1),
       1px 1px 1px rgba(0,0,0,0.1);
}
#name-position {
  position: relative;
  right: 0%;
}

#name h1 {
  font-family: Raleway;
  font-size: 5em;
  font-weight: 900;
  line-height: .7em;
  color: #fff;
}
#name h2 {
  font-family: Raleway;
  font-weight: 800;
  font-size: 1.8em;
  line-height: .9em;
  color: #fff;
}
#name h3 {
  font-family: Raleway;
  font-weight: 800;
  font-size: 1.8em;
  line-height: .7em;
}

.leaflet-container {
  cursor: inherit;
}

.fa {
  margin-right: 3px;
}

.ub-logo {
  margin: 25px 0;
}

.project-tiny-img {
  margin: 3px;
}

.project-thumbnail {
  text-align: center;
}

.education-summary {
  text-align: center;
}

.selected-screenshot {
  border: 3px solid #000;
}
.not-selected-screenshot {
  cursor: pointer;
  border: 3px solid #fff;
}

#footer {
  background: #333333;
  color: #fff;
  position: absolute;
  bottom: 0;
}

@media only screen and (min-width: 64.063em) { 
  #name-position {
    position: relative;
    right: 10%;
  }
} /* min-width 1025px, large screens */

@media only screen and (max-width: 40em) { 
  #name h1 {
    font-size: 3em;
  }
  #name h2 {
    font-size: 1.2em;
  }
}
